*{
    margin: 0;
    padding: 0;
}

#server-data, #third-task{

    padding: 40px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
h2{
    text-align: center;
}

li{
    padding: 5px;
    list-style: none;
}
